<div class="aboutPage">
  <h1 align="center">About Hello Stocks</h1>
<hr>
<p align = "center">
        <h6>What is Hello Stocks?</h6>
        Hello Stocks is a web application in which the user can type in a
        stock abbreviation get information on how the stock is doing.  In addition to this, the user also
        gets a recommendation on if the stock would be profitable if purchased.  Other features include similar stocks,
        highs and lows, and an estimate of analyst sentiment.<br>
        <hr>
        <h6>Who made this anyway?</h6>

        Seth Maxwell: <a href="maxwell26@purdue.edu">maxwell26@purdue.edu</a><br>
        Ian Ryan: <a href="iryan@purdue.edu">iryan@purdue.edu</a><br>
        Nicholas Rose: <a href="rose142@purdue.edu">rose142@purdue.edu</a><br>
        Nick Molnar: <a href="nmolnar@purdue.edu">nmolnar@purdue.edu</a><br>
        Jack Sovich: <a href="jsovich@purdue.edu">jsovich@purdue.edu</a><br>
        <hr>
        <h6>Why did they make Hello Stocks?</h6>
        The creators made this web application for a hackathon called Hello World at Purdue University.<br>
        <hr>
        <h6>How did the application get its name?</h6>
        The application took part of its name from the Hackathon "Hello World" as inspiration for the application.<br>
        <hr>
        <h6>How long did it take to make Hello Stocks?</h6>
        It took a bit under 24 hours to make this application.
        <hr>
<h4 align="center">About the creators</h4>
    <h6>Seth Maxwell</h6>
        Hey! I'm a computer science major at Purdue University.<br>
        Ember Man, take me by the hand take me to the land.
        <hr>
    <h6>Ian Ryan</h6>
        Hey! I'm a computer science major at Purdue University.
        In my free time I enjoy producing electronic music, playing guitar, and yelling at code.
        My primary language is Java but I have mild experience with C++ and, now, JavaScript.
        <hr>
    <h6>Nicholas Rose</h6>
        Hey! I'm a computer science major at Purdue University.
        Bonjour! I am a future profrssional businessman and computer scientist.
        When I'm not programming, you can find me doing any number of things including
        but not limited to, writing, hiking, dancing, playing and/or listening to music,
        philosophizing, and generally enjoying life to the greatest extent possible.
        I have experience in a variety of fields, including programming in C#,C++,
        Python, and JavaScript, and I'm always aiming to learn more.
        <hr>
    <h6>Nick Molnar</h6>
        Hey! I'm a computer science major at Purdue University.
        <hr>
    <h6>Jack Sovich</h6>
        Hey! I'm a computer science major at Purdue University.
        In my free time I enjoy hanging out with friends, learning about programming, listening to music, playing video games, and playing viola.
        While I only really know Java as a programming language, this project has taught me lot and I'm looking forward to projects like this and more in the future!
        <hr>
</p>
</div>
