<h1 align="center">About Hello Stocks</h1>
<h4>Frequently Asked Questions</h4>
<style>p.indent{ padding-left: 1.8em }</style>
<ul>
    <li>What is Hello Stocks?</li>
    <p class="indent">
        <li>Hello Stocks is a web application in which the user can type in a stock abbreviation get information on how the stock is doing.</li>
    </p>
    <li>Who made this anyway?</li>
    <p class="indent">
        <li>Hello Stocks was made by</li>
        <p class="indent">
            <li>Seth Maxwell: <a href="maxwell26@purdue.edu">maxwell26@purdue.edu</a></li>
            <li>Ian Ryan: <a href="iryan@purdue.edu">iryan@purdue.edu</a></li>
            <li>Nicholas Rose: <a href="rose142@purdue.edu">rose142@purdue.edu</a></li>
            <li>Nick Molnar: <a href="nmolnar@purdue.edu">nmolnar@purdue.edu</a></li>
            <li>Jack Sovich: <a href="jsovich@purdue.edu">jsovich@purdue.edu</a></li>
        </p>
    </p>
    <li>Why did they make Hello Stocks?</li>
    <p class="indent">
        <li>The creators made this web application for a hackathon called Hello World at Purdue University.</li>
    </p>
        <li>How did the application get its name?</li>
    <p class="indent">
        <li>The application took part of its name from the Hackathon "Hello World" as inspiration for the application.</li>
    </p>
        <li>How long did it take to make Hello Stocks?</li>
    <p class="indent">
        <li>It took a bit under 24 hours to make this application.</li>
    </p>
</ul>
<h4>About the creators</h4>
<ul>
    <li>Seth Maxwell</li>
        <p class="indent">
            <!-- Seth, put stuff about yourself here!-->
        </p>
    <li>Ian Ryan</li>
        <p class="indent">
            <!--Ian, put stuff about yourself here!-->
        </p>
    <li>Nicholas Rose</li>
        <p class="indent">
            &emsp;Bonjour! I am a future professional businessman and computer scientist.
            When I'm not programming you can find me doing any number of things including,
            but not limited to, writing, hiking, dancing, playing and/or listening to music,
            philosophizing, and generally enjoying life to the greatest extent possible.
            I have experience in a variety of fields, including programming in C#, C++, Java,
            Python, and Javascript, and I'm always aiming to learn more.
        </p>
    <li>Nick Molnar</li>
        <p class="indent">
            <!-- Nick, put stuff about yourself here!-->
        </p>
    <li>Jack Sovich</li> <!-- We can add pictures of ourselves here, I think that it might be a cool addition -->
        <p class="indent">
            &emsp;Hey! I'm a computer science major at purdue university.
            In my free time I enjoy hanging out with friends, learning about programming, listening to music, playing video games, and playing viola.
            While I only really know Java as a programming language, this project has taught me lot and I'm looking forward to projects like this and more in the future!
        </p>
</ul>