{{#bs-navbar as |navbar|}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to 'index'}}<img src="assets/hellostock.png" class="logo">{{/link-to}}
  {{#link-to 'about'}}<div class="nav-link aboutLink">About</div>{{/link-to}}
</nav>
{{/bs-navbar}}
