<div class="center text-center vertical-center">
  <div class="searchbox">
    <h1>Search for a stock</h1>
    {{input type="text" value=this.stockSearch placeholder="Search for a stock" enter="search"}}
  </div>
  {{#if searchSuccess}}
    {{high-charts mode=mode chartOptions=this.graphOptions content=this.data}}
  {{/if}}
  {{#if error}}
  <div class="alert alert-danger" style='margin-top: 5%;'>
    <strong>Error!</strong> That stock symbol is invalid. Please try again.
  </div>
  {{/if}}
</div>
