<div class="bg">
  {{header-bar}}
  <div class="container">
    <div class="row center vertical-center">
      <img class="center vertical-center landingLogo" src="assets/hellostock.png">
    </div>
    {{lookup-stock}}
  </div>
</div>
